<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net461" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net461" />
  <package id="RLNET" version="1.0.6" targetFramework="net461" />
  <package id="RogueSharp" version="4.1.0" targetFramework="net461" />
  <package id="SadRex" version="1.0.2" targetFramework="net461" />
</packages>